<app-navigation></app-navigation>
<section class="section--expense">
  <div class="section--expense__expense--box">
    <div class="section--expense__expense--box__heading--box">
      <h1 class="section--expense__expense--box--heading">Invoice</h1>
      <a
        class="section--expense__expense--box--add"
        (click)="userFormNavigation()"
        >Add transaction</a
      >
    </div>
    <div class="section--expense__expense--box__invoice">
      <div class="section--expense__expense--box__invoice--subcriptions">
        <i class="dx-icon-refresh"></i>
        <h1>Subscriptions</h1>
        <span>{{ subscriptionMoney === 0 ? 0 : subscriptionMoney }}EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--food">
        <i class="dx-icon-money"></i>
        <h1>Bills</h1>
        <span>{{ billMoney === 0 ? 0 : billMoney }}EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--fun">
        <i class="dx-icon-food"></i>
        <h1>Restaurants</h1>
        <span>{{ restaurantMoney === 0 ? 0 : restaurantMoney }}EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--bills">
        <i class="dx-icon-cart"></i>
        <h1>Random</h1>
        <span>{{ randomMoney === 0 ? 0 : randomMoney }}EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--random">
        <i class="dx-icon-user"></i>
        <h1>Clothes</h1>
        <span>{{ clothesMoney === 0 ? 0 : clothesMoney }}EUR</span>
      </div>
    </div>
    <div class="section--expense__expense--box__tracking">
      <dx-data-grid
        [repaintChangesOnly]="true"
        (onCellPrepared)="cellStyle($event)"
        [showBorders]="true"
        [dataSource]="expenses"
        [columns]="columns"
      >
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [displayMode]="displayMode"
          [showPageSizeSelector]="showPageSizeSelector"
          [showInfo]="showInfo"
          [showNavigationButtons]="showNavButtons"
        >
        </dxo-pager>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="date"
          dataType="datetime"
          format="M/d/yyyy, HH:mm"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="money"
          format="currency"
          [editorOptions]="{ format: 'currency', showClearButton: true }"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="expenseType"
        ></dxi-column>
        <dxi-column
          aligment="left"
          [width]="200"
          dataField="companyName"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="account"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="billStatus"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
