<app-navigation></app-navigation>
<section class="section--expense">
  <div class="section--expense__expense--box">
    <div class="section--expense__expense--box__invoice">
      <div class="section--expense__expense--box__invoice--subcriptions">
        <h1>here</h1>
      </div>
      <div class="section--expense__expense--box__invoice--food"></div>
      <div class="section--expense__expense--box__invoice--fun"></div>
      <div class="section--expense__expense--box__invoice--bills"></div>
      <div class="section--expense__expense--box__invoice--random"></div>
    </div>
    <div class="section--expense__expense--box__tracking">
      <!-- <dx-data-grid
        [showBorders]="true"
        [dataSource]="expenses"
        [columns]="columns"
      >
        <dxi-column [width]="100" dataField="Date"></dxi-column>
        <dxi-column [width]="100" dataField="Money"></dxi-column>
        <dxi-column [width]="100" dataField="Expanses"></dxi-column>
        <dxi-column [width]="100" dataField="Name"></dxi-column>
        <dxi-column [width]="100" dataField="Status"></dxi-column>
      </dx-data-grid> -->
    </div>
  </div>
</section>
