<app-navigation></app-navigation>
<section class="section--expense">
  <div class="section--expense__expense--box">
    <div class="section--expense__expense--box__invoice">
      <div class="section--expense__expense--box__invoice--subcriptions">
        <h1>Subscriptions</h1>
        <span>100EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--food">
        <h1>Subscriptions</h1>
        <span>100EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--fun">
        <h1>Subscriptions</h1>
        <span>100EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--bills">
        <h1>Subscriptions</h1>
        <span>100EUR</span>
      </div>
      <div class="section--expense__expense--box__invoice--random">
        <h1>Subscriptions</h1>
        <span>100EUR</span>
      </div>
    </div>
    <div class="section--expense__expense--box__tracking">
      <dx-data-grid
        [showBorders]="true"
        [dataSource]="expenses"
        [columns]="columns"
      >
        <dxi-column [width]="150" dataField="Date"></dxi-column>
        <dxi-column [width]="150" dataField="Money"></dxi-column>
        <dxi-column [width]="150" dataField="Expanses"></dxi-column>
        <dxi-column [width]="150" dataField="Name"></dxi-column>
        <dxi-column [width]="150" dataField="Status"></dxi-column>
        <dxi-column [width]="150" dataField="Account"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</section>
