@use "../../../style/sass/global-variables" as *;
.section--expense {
  height: 100vh;
  width: 100vw;
  position: relative;

  &__navigation--box {
    position: absolute;
    width: 10%;
  }

  &__expense--box {
    left: 5%;
    position: absolute;
    height: auto;
    width: -webkit-fill-available;

    &__heading--box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 3.2rem;
      padding: 1.2rem 2.4rem;
      gap: 1rem;
    }
    &--add {
      cursor: pointer;
      font-size: font-size(font-size-small);
      background-color: var(--main-color);
      color: var(--white-color);
      padding: 0.5rem 1rem;
      border-radius: 9px;
    }

    &--heading {
      font-size: font-size(font-size-medium);
    }

    i {
      font-size: font-size(font-size-large);
    }

    &__invoice {
      height: auto;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      &--subcriptions,
      &--food,
      &--fun,
      &--bills,
      &--random {
        text-align: center;
        font-size: 3rem;
        padding: 1.2rem 2.4rem;
        width: 15rem;
        height: 15rem;
        outline: 1px solid var(--gray-color);
        border-radius: 2rem;
      }
    }

    &__tracking {
      margin-top: 3rem;
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .dx-widget,
      .dx-widget *,
      .dx-widget ::after,
      .dx-widget ::before,
      .dx-widget::after,
      .dx-widget::before {
        font-size: 1.4rem !important;
      }
    }
  }
}

.dx-widget,
.dx-widget *,
.dx-widget ::after,
.dx-widget ::before,
.dx-widget::after,
.dx-widget::before {
  font-size: 1.4rem !important;
  background-color: transparent;
  width: 150rem;
}
