@use "global-variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}
.dx-widget,
.dx-widget *,
.dx-widget ::after,
.dx-widget ::before,
.dx-widget::after,
.dx-widget::before {
  font-size: 1.4rem !important;
  width: auto;
}
