@use "../../style/sass/global-variables" as *;
@use "../../style/sass/mixins" as *;

.section--aboutus {
  height: 100vh;
  width: 100vw;

  .row {
    height: 100%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }

  &__content--box {
    @include flexbox--center--all;

    height: 100%;
    width: 100%;
    position: relative;

    &__img--box {
      @include flexbox--center--all;

      position: relative;
      &--img {
        height: auto;
        width: 70%;
      }
      &::before {
        content: "";
        position: absolute;
        align-items: center;
        height: 40rem;
        width: 40rem;
        border-radius: 50%;
        border: 1rem dotted var(--main-color);
        z-index: 10;
        animation: inner_border_animation 1s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        align-items: center;
        height: 60rem;
        width: 60rem;
        border-radius: 50%;
        border: 1rem dotted var(--gray-color-lighter);
        z-index: -1;
        animation: outer_border_animation 1.3s ease-in-out;
      }
    }

    &__para--box--1 {
      position: absolute;
      top: 30%;
      right: -14%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          left: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }
    }

    &__para--box--2 {
      position: absolute;
      bottom: 30%;
      right: -17%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          left: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }
    }

    &__para--box--3 {
      position: absolute;
      bottom: 30%;
      left: -17%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          right: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }
    }
    &__para--box--4 {
      position: absolute;
      top: 30%;
      left: -14%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &__heading--box {
        position: relative;

        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          right: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }
    }
  }
}

// animations

@keyframes inner_border_animation {
  0% {
    height: 0rem;
    width: 0rem;
  }

  100% {
    height: 40rem;
    width: 40rem;
  }
}

@keyframes outer_border_animation {
  0% {
    height: 0rem;
    width: 0rem;
  }

  100% {
    height: 60rem;
    width: 60rem;
  }
}

@keyframes small_circle_animation {
  0% {
    opacity: 0;
    height: 0rem;
    width: 0rem;
  }

  100% {
    opacity: 1;
    height: 4rem;
    width: 4rem;
  }
}

@keyframes text_animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
