<section class="section--aboutus">
  <div class="row">
    <div class="section--aboutus__content--box">
      <div class="section--aboutus__content--box__para--box">
        <div class="section--aboutus__content--box__para--box__header--box">
          <span
            class="section--aboutus__content--box__para--box__header--box--span"
            >01</span
          >
          <h1
            class="section--aboutus__content--box__para--box__header--box--heading"
          >
            Elevate your finance's with us
          </h1>
        </div>
        <ul class="section--aboutus__content--box__para--box--para">
          <div class="section--aboutus__content--box__para--box--para--lists">
            <span> &#9472;</span>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </div>
          <div class="section--aboutus__content--box__para--box--para--lists">
            <span> &#9472;</span>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </div>
          <div class="section--aboutus__content--box__para--box--para--lists">
            <span> &#9472;</span>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </div>
        </ul>
        <a class="section--aboutus__content--box__para--box--link" href="#"
          >Register</a
        >
      </div>
      <div class="section--aboutus__content--box__img--box">
        <img
          src="../../assets/img/card-opended Background Removed.png"
          alt="Opened card"
        />
      </div>
    </div>
  </div>
</section>
