@use "../../style/sass/global-variables" as *;
@use "../../style/sass/mixins" as *;

.section--aboutus {
  height: 100vh;
  width: 100vw;

  .row {
    height: 100%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }

  &__content--box {
    @include flexbox--center--all;

    height: 100%;
    width: 100%;
    position: relative;

    @include media-bigger-small {
      position: initial;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-content: center;
    }

    &__img--box {
      @include flexbox--center--all;

      position: relative;
      &--img {
        height: auto;
        width: 70%;
        animation: text_animation 1s ease-in;

        @include media-desktop-small {
          width: 50%;
        }

        @include media-bigger-small {
          display: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        align-items: center;
        height: 40rem;
        width: 40rem;
        border-radius: 50%;
        border: 1rem dotted var(--main-color);
        z-index: -1;
        animation: inner_border_animation 1s ease-in-out;

        @include media-desktop-small {
          height: 30rem;
          width: 30rem;
        }

        @include media-medium-big {
          opacity: 0.3;
        }

        @include media-medium-small-extra {
          height: 20rem;
          width: 20rem;
        }

        @include media-bigger-small {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        align-items: center;
        height: 60rem;
        width: 60rem;
        border-radius: 50%;
        border: 1rem dotted var(--gray-color-lighter);
        z-index: -1;
        animation: outer_border_animation 1.3s ease-in-out;

        @include media-desktop-small {
          height: 50rem;
          width: 50rem;
        }

        @include media-medium-small-extra {
          height: 40rem;
          width: 40rem;
        }

        @include media-bigger-small {
          display: none;
        }
      }
    }

    &__para--box--1 {
      position: absolute;
      top: 30%;
      right: -14%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &--number {
        display: none;
      }

      @include media-desktop-small {
        right: -5%;
        top: 32%;
      }

      @include media-tablet-big {
        top: 25%;
      }

      @include media-bigger-small {
        position: initial;
        width: 100%;

        &--number {
          display: block;
          position: relative;
          z-index: -11;
          top: 7rem;
          left: 0;
          font-size: 15rem;
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          opacity: 0.2;
        }
      }

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          left: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;

          @include media-tablet-big {
            height: 3rem;
            width: 3rem;
          }

          @include media-medium-big {
            height: 2rem;
            width: 2rem;
          }

          @include media-medium-small {
            height: 1rem;
            width: 1rem;
            background-color: var(--main-color);
            border: none;
          }

          @include media-medium-small-extra {
            display: none;
          }
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
        width: 80%;
        @include media-desktop-small {
          width: 60%;
        }

        @include media-tablet-small {
          width: 80%;
        }

        @include media-medium-small {
          font-weight: font-weight(font-weight-bold);
        }

        @include media-bigger-small {
          width: 100%;
        }
      }
    }

    &__para--box--2 {
      position: absolute;
      bottom: 30%;
      right: -17%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &--number {
        display: none;
      }

      @include media-desktop-small {
        right: -5%;
      }

      @include media-tablet-big {
        bottom: 25%;
      }

      @include media-medium-big {
        bottom: 20%;
      }

      @include media-bigger-small {
        position: initial;
        width: 100%;

        &--number {
          display: block;
          position: relative;
          z-index: -11;
          top: 7rem;
          left: 0;
          font-size: 15rem;
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          opacity: 0.2;
        }
      }

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          left: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;

          @include media-tablet-big {
            height: 3rem;
            width: 3rem;
          }

          @include media-medium-big {
            height: 2rem;
            width: 2rem;
          }

          @include media-medium-small {
            height: 1rem;
            width: 1rem;
            background-color: var(--main-color);
            border: none;
          }

          @include media-medium-small-extra {
            display: none;
          }
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
        width: 80%;
        @include media-desktop-small {
          width: 60%;
        }

        @include media-tablet-small {
          width: 80%;
        }

        @include media-medium-small {
          font-weight: font-weight(font-weight-bold);
        }

        @include media-bigger-small {
          width: 100%;
        }
      }
    }

    &__para--box--3 {
      position: absolute;
      bottom: 30%;
      left: -17%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &--number {
        display: none;
      }

      @include media-desktop-small {
        left: -5%;
      }

      @include media-tablet-big {
        bottom: 25%;
      }

      @include media-medium-big {
        bottom: 20%;
      }

      @include media-bigger-small {
        position: initial;
        width: 100%;

        &--number {
          display: block;
          position: relative;
          z-index: -11;
          top: 7rem;
          left: 0;
          font-size: 15rem;
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          opacity: 0.2;
        }
      }

      &__heading--box {
        position: relative;
        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          right: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;

          @include media-tablet-big {
            height: 3rem;
            width: 3rem;
          }

          @include media-medium-big {
            height: 2rem;
            width: 2rem;
            right: -20%;
          }

          @include media-medium {
            right: -35%;
          }

          @include media-medium-small {
            height: 1rem;
            width: 1rem;
            background-color: var(--main-color);
            border: none;
          }

          @include media-medium-small-extra {
            display: none;
          }
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          left: 30%;
          position: relative;
          @include media-desktop-small {
            left: 40%;
          }

          @include media-bigger-small {
            position: initial;
          }
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
        position: relative;
        left: 30%;
        width: 80%;

        @include media-desktop-small {
          width: 60%;
          left: 40%;
        }

        @include media-medium-small {
          font-weight: font-weight(font-weight-bold);
        }

        @include media-bigger-small {
          position: initial;
          width: 100%;
        }
      }
    }
    &__para--box--4 {
      position: absolute;
      top: 30%;
      left: -14%;
      width: 40%;
      animation: text_animation 2.5s ease-in-out;

      &--number {
        display: none;
      }

      @include media-desktop-small {
        left: -5%;
        top: 32%;
      }

      @include media-tablet-big {
        top: 25%;
      }

      @include media-bigger-small {
        position: initial;
        width: 100%;

        &--number {
          display: block;
          position: relative;
          z-index: -11;
          top: 7rem;
          left: 0;
          font-size: 15rem;
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          opacity: 0.2;
        }
      }

      &__heading--box {
        position: relative;

        &--circle {
          content: "";
          position: absolute;
          top: 10%;
          right: -15%;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          border: 0.4rem dotted var(--main-color);
          animation: small_circle_animation 1s ease-in-out;

          @include media-tablet-big {
            height: 3rem;
            width: 3rem;
          }

          @include media-medium-big {
            height: 2rem;
            width: 2rem;
          }

          @include media-medium-small {
            height: 1rem;
            width: 1rem;
            background-color: var(--main-color);
            border: none;
          }

          @include media-medium-small-extra {
            display: none;
          }
        }
        &--heading {
          font-size: font-size(font-size-medium);
          font-weight: font-weight(font-weight-light);
          color: var(--main-color);
          left: 30%;
          position: relative;
          @include media-desktop-small {
            left: 40%;
          }

          @include media-bigger-small {
            position: initial;
          }
        }
      }

      &__text--box {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
        width: 80%;
        left: 30%;
        position: relative;

        @include media-desktop-small {
          left: 40%;
          width: 60%;
        }

        @include media-medium-small {
          font-weight: font-weight(font-weight-bold);
        }

        @include media-bigger-small {
          position: initial;
          width: 100%;
        }
      }
    }
  }
}

// animations

@keyframes inner_border_animation {
  0% {
    height: 0rem;
    width: 0rem;
  }

  100% {
    height: 40rem;
    width: 40rem;
  }
}

@keyframes outer_border_animation {
  0% {
    height: 0rem;
    width: 0rem;
  }

  100% {
    height: 60rem;
    width: 60rem;
  }
}

@keyframes small_circle_animation {
  0% {
    opacity: 0;
    height: 0rem;
    width: 0rem;
  }

  100% {
    opacity: 1;
    height: 4rem;
    width: 4rem;
  }
}

@keyframes text_animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
