<section class="section--hero">
  <span class="company--name--logo">FinancY</span>
  <div class="section--hero__content--box">
    <div class="section--hero__content--box__text--box">
      <h1 class="heading--primary">
        <span class="heading--primary--span">One app</span>, all things money
      </h1>
      <div class="section--hero__content--box__text--box--links">
        <a href="#">Log-in</a>
        <a href="#">Register</a>
      </div>
    </div>
    <div class="section--hero__content--box__img--box">
      <img
        src="../../assets/img/card-hero Background Removed.png"
        alt="Hero img"
      />
    </div>
  </div>
  <span class="scroll--down--indicator">╲╱</span>
</section>
