<section class="section--hero">
  <span class="company--name--logo">FinancY</span>
  <div class="section--hero__content--box">
    <div class="section--hero__content--box__text--box">
      <h1 class="heading--primary">
        <span class="heading--primary--span">One app</span>, all things money
      </h1>
      <p class="section--hero__content--box__text--box--para">
        Transform your future! Manage your money.
      </p>
      <div class="section--hero__content--box__text--box--links">
        <a #login (click)="userHeroNavigation(login)">Login</a>
        <a #register (click)="userHeroNavigation(register)">Register</a>
      </div>
    </div>
    <div class="section--hero__content--box__img--box">
      <img
        src="../../assets/img/card-hero Background Removed.png"
        alt="Hero img"
      />
    </div>
  </div>
  <span class="scroll--down--indicator">╲╱</span>
</section>

<app-about-us></app-about-us>
