@use "../../style/sass/global-variables" as *;
.section--register {
  height: 100vh;
  width: 100vw;

  .row {
    height: 100%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content--box {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    height: 60%;
    outline: 1px solid black;
    padding: 0.3rem;
    border-radius: 2rem;

    &__img--box {
      height: 100%;
      width: 100%;
      background-color: var(--main-color);
      border-radius: 2rem;
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &--logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: var(--white-color);
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }

      &--heading {
        position: absolute;
        top: 20%;
        left: 1rem;
        color: var(--white-color);
        font-size: font-size(font-size-large);
        font-weight: font-weight(font-weight-regular);
      }

      &--text {
        margin-top: 3.2rem;
        color: var(--white-color);
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-light);
      }

      &__carousel--box {
        position: absolute;
        bottom: 2rem;
        background-color: var(--main-color-darker);
        width: 70%;
        border-radius: 2rem;
        // &--carousel {
        //   padding: 1.2rem 2.4rem;

        //   &--para {
        //     color: var(--white-color);
        //     font-size: font-size(font-size-small);
        //   }

        //   &__user--box {
        //     display: flex;
        //     align-items: center;
        //     justify-content: flex-start;
        //     gap: 1rem;
        //     margin-top: 1.2rem;

        //     span {
        //       font-size: font-size(font-size-small);
        //       color: var(--white-color);
        //     }

        //     img {
        //       border-radius: 50%;
        //       height: 4rem;
        //     }
        //   }
        // }
        &__spans--box {
          position: absolute;
          bottom: -1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          width: 100%;

          .one,
          .two,
          .three {
            background-color: var(--white-color);
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
          }
        }
      }
    }

    &__text--box {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1.2rem 2.4rem;
      position: relative;

      h2 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: font-size(font-size-regular);
        color: var(--main-color);
        font-weight: font-weight(font-weight-light);
      }

      &__heading--box {
        position: absolute;
        top: 5rem;
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h3 {
          font-size: font-size(font-size-small);
          color: var(--gray-color-darke);
        }

        a {
          font-size: font-size(font-size-small);
          border-radius: 11px;
          cursor: pointer;
        }
      }

      &--link {
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 1rem;
        font-size: font-size(font-size-small);
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 1rem;

        h3 {
          font-size: font-size(font-size-small);
          font-weight: font-weight(font-weight-light);
        }

        .form__upper {
          width: 80%;
          h3 {
            font-size: font-size(font-size-small);
            font-weight: font-weight(font-weight-light);
            margin-bottom: 1.2rem;
          }
          .radio-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              border: 1px solid var(--main-color);
              padding: 1.2rem 2.4rem;
              border-radius: 11px;
              width: 100%;

              label {
                cursor: pointer;
                font-size: 1.5rem;
                color: var(--gray-color-darke);
              }
            }
          }
        }

        input,
        button {
          padding: 1.2rem 2.4rem;
          font-size: font-size(font-size-small);
          width: 80%;
          border: 1px solid var(--main-color);
          border-radius: 11px;
          cursor: pointer;
        }

        label,
        button {
          font-size: font-size(font-size-small);
        }

        label {
          width: 80%;
        }

        button {
          background-color: var(--main-color);
          color: var(--white-color);
        }
      }
    }
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.carousel--para {
  font-size: font-size(font-size-small);
  color: var(--white-color);
  white-space: normal;
}

.carousel__user--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: auto;
    border-radius: 50%;
    height: 4rem;
  }

  span {
    font-size: font-size(font-size-small);
    color: var(--white-color);
  }
}
