<section class="section--register">
  <div class="row">
    <div class="section--register__content--box">
      <div class="section--register__content--box__img--box">
        <span class="section--register__content--box__img--box--logo"
          >FinancY</span
        >
        <h3 class="section--register__content--box__img--box--heading">
          Take control over your money.
        </h3>
        <p class="section--register__content--box__img--box--text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
          expedita qui quos magnam, tempore explicabo ut voluptate quis.
        </p>
        <div class="section--register__content--box__img--box__carousel--box">
          <div
            class="section--register__content--box__img--box__carousel--box--carousel"
          >
            <dx-gallery
              [dataSource]="userCarouselArray"
              [height]="150"
              [slideshowDelay]="slideshowDelay"
              [loop]="false"
              [showNavButtons]="true"
              [showIndicator]="true"
              ><div *dxTemplate="let user of 'item'">
                <div class="carousel">
                  <p class="carousel--para">
                    {{ user.userOpinion }}
                  </p>

                  <div class="carousel__user--box">
                    <img src="../../assets/img/user-logo.jpeg" alt="user" />
                    <span>{{ user.userName }}</span>
                  </div>
                </div>
              </div></dx-gallery
            >
          </div>
        </div>
      </div>

      <div class="section--register__content--box__text--box">
        <h2>Signup</h2>
        <div class="section--register__content--box__text--box__heading--box">
          <h3>Already have an account?</h3>
          <a #navigationLogin (click)="userHeroNavigation(navigationLogin)"
            >Login</a
          >
        </div>
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="form__upper">
            <h3>Looking for?</h3>
            <div class="radio-btns">
              <div>
                <label for="Personal">Personal</label>
                <input
                  type="radio"
                  name="accType"
                  id="Personal"
                  value="personal"
                  ngModel
                />
              </div>
              <div>
                <label for="Profesional">Profesional</label>
                <input
                  type="radio"
                  name="accType"
                  id="Profesional"
                  value="profesional"
                  ngModel
                />
              </div>
            </div>
          </div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required ngModel />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required ngModel />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            ngModel
          />
          <button
            [disabled]="form.valid ? formStatus : !formStatus"
            type="submit"
          >
            {{ form.valid ? "Create account" : "Please fill the form" }}
          </button>
        </form>
        <a
          #navigationHome
          (click)="userHeroNavigation(navigationHome)"
          class="section--register__content--box__text--box--link"
          >Back</a
        >
      </div>
    </div>
  </div>
</section>
