@use "../../../style/sass/global-variables" as *;
@use "../../../style/sass/mixins" as *;

.bankCard--form {
  padding: 1.2rem 2.4rem;
  position: absolute;
  background-color: var(--main-color);
  background-color: #b3d7ff;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  width: auto;
  @include flexbox--center--all;

  @include media-medium {
    width: 70%;
  }
}

div i {
  font-size: font-size(font-size-medium);
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
}

::ng-deep .dx-toast-content {
  min-width: 30rem;
  max-width: 40rem;
}

::ng-deep .dx-toast-content > * {
  font-size: 1.5rem;
}
