<form #form="ngForm" class="bankCard--form" (submit)="onSubmitForm()">
  <div (click)="onUserCloseForm()">
    <i class="dx-icon-close"></i>
  </div>
  <dx-form width="50rem" labelLocation="top" [formData]="bankAccountData">
    <dxi-item itemType="group" caption="Track your expanse" [colCount]="1">
      <dxi-item dataField="bankAccountCustomName"></dxi-item>

      <dxi-item
        editorType="dxSelectBox"
        [editorOptions]="positionEditorOptionsCardGoal"
        dataField="bankAccountName"
      ></dxi-item>
      <dxi-item
        editorType="dxSelectBox"
        [editorOptions]="positionEditorOptionsCardType"
        dataField="bankAccountCard"
      >
        <dxi-validation-rule
          type="required"
          message="Card type is required"
        ></dxi-validation-rule>
        <dxo-label template="Card type"></dxo-label
      ></dxi-item>
      <dxi-item dataField="bankAccountValidDate"></dxi-item>
      <dxi-item dataField="bankMoneyStatus"></dxi-item>
      <dxi-item
        [colSpan]="1"
        itemType="button"
        [buttonOptions]="submitButtonOptions"
      ></dxi-item>
    </dxi-item>
  </dx-form>
</form>

<dx-toast
  [visible]="isVisibleToast"
  [type]="type"
  [message]="message"
></dx-toast>
