<section class="section--login">
  <div class="row">
    <div class="section--login__content--box">
      <div class="section--login__content--box__img--box">
        <span class="section--login__content--box__img--box--logo"
          >FinancY</span
        >
        <h3 class="section--login__content--box__img--box--heading">
          Take control over your money.
        </h3>
        <p class="section--login__content--box__img--box--text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
          expedita qui quos magnam, tempore explicabo ut voluptate quis.
        </p>
        <div class="section--login__content--box__img--box__carousel--box">
          <dx-gallery
            [dataSource]="userCarouselArray"
            [height]="200"
            [slideshowDelay]="slideshowDelay"
            [loop]="true"
            [showNavButtons]="true"
            [showIndicator]="true"
            ><div *dxTemplate="let user of 'item'">
              <div class="carousel">
                <p class="carousel--para">
                  {{ user.userOpinion }}
                </p>

                <div class="carousel__user--box">
                  <img src="../../assets/img/user-logo.jpeg" alt="user" />
                  <span>{{ user.userName }}</span>
                </div>
              </div>
            </div></dx-gallery
          >
        </div>
      </div>
      <div class="section--login__content--box__text--box">
        <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required ngModel />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            ngModel
          />
          <button
            [ngClass]="loginForm.valid ? 'validForm' : ''"
            [disabled]="loginForm.valid ? formStatus : !formStatus"
            type="submit"
          >
            {{ loginForm.valid ? "Enter" : "Enter your information" }}
          </button>
        </form>
        <a
          #navigationHome
          (click)="userHeroNavigation()"
          class="section--login__content--box__text--box--link"
          >Back</a
        >
      </div>
    </div>
  </div>
</section>
