<section class="section--login">
  <div class="row">
    <div class="section--login__content--box">
      <div class="section--login__content--box__img--box">
        <span class="section--login__content--box__img--box--logo"
          >FinancY</span
        >
        <h3 class="section--login__content--box__img--box--heading">
          Take control over your money.
        </h3>
        <p class="section--login__content--box__img--box--text">
          Make day-to-day spending a breeze with all things money in one place.
        </p>
        <div class="section--login__content--box__img--box__carousel--box">
          <dx-gallery
            [dataSource]="userCarouselArray"
            height="100%"
            width="100%"
            [slideshowDelay]="slideshowDelay"
            [loop]="true"
            [showIndicator]="false"
            ><div *dxTemplate="let user of 'item'">
              <div class="carousel">
                <p class="carousel--para">
                  {{ user.userOpinion }}
                </p>

                <div class="carousel__user--box">
                  <img src="../../assets/img/user-logo.jpeg" alt="user" />
                  <span>{{ user.userName }}</span>
                </div>
              </div>
            </div></dx-gallery
          >
        </div>
      </div>
      <div class="section--login__content--box__text--box">
        <div class="section--login__content--box__text--box__navigation--box">
          <p>Dont have an account?</p>
          <a (click)="userHeroNavigation($event)">Register</a>
        </div>
        <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" required ngModel />
          <label for="email">Username:</label>
          <input type="text" name="username" id="username" required ngModel />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            ngModel
          />
          <button
            [ngClass]="loginForm.valid ? 'validForm' : ''"
            [disabled]="loginForm.valid ? formStatus : !formStatus"
            type="submit"
          >
            {{ loginForm.valid ? "Enter" : "Enter your information" }}
          </button>
          <button id="demo--account" (click)="onClickDemo()" type="submit">
            Demo account
          </button>
        </form>

        <a
          #navigationHome
          (click)="userHeroNavigation($event)"
          class="section--login__content--box__text--box--link"
          >Back</a
        >
      </div>
    </div>
  </div>
</section>

<dx-toast
  [visible]="isToastVisible"
  [type]="type"
  [message]="message"
  position="top"
></dx-toast>
