<section class="section--saveingsForm">
  <div>
    <form #form="ngForm" class="saveings--form" (submit)="onSubmitForm()">
      <div (click)="onUserCloseForm()">
        <i class="dx-icon-close"></i>
      </div>
      <dx-form width="50rem" labelLocation="top" [formData]="saveingsData">
        <dxi-item itemType="group" caption="Track your savings" [colCount]="1">
          <dxi-item dataField="dateOfSaveings"></dxi-item>
          <dxi-item dataField="amountOfMoneySaved"></dxi-item>
          <dxi-item
            editorType="dxSelectBox"
            dataField="account"
            [editorOptions]="positionEditorOptions"
          ></dxi-item>
          <dxi-item
            editorType="dxSelectBox"
            dataField="typeOfSaveings"
            [editorOptions]="positionEditorOptionsTypeOfSaveing"
          ></dxi-item>
          <dxi-item
            itemType="button"
            [buttonOptions]="submitButtonOptions"
          ></dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</section>

<dx-toast
  [visible]="isVisibleToast"
  [type]="type"
  [message]="message"
></dx-toast>
