@use "../../style/sass/global-variables" as *;
@use "../../style/sass/mixins" as *;

.section--dashboard {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  &__navigation--box {
    position: absolute;
    width: 10%;
  }

  &__content--box {
    left: 5%;
    position: absolute;
    height: auto;
    width: -webkit-fill-available;
    padding: 1.2rem 2.4rem;

    &__user--greating {
      padding-top: 1.2rem;
      height: 3rem;
      @include flexbox--flex-start;

      &--hello {
        font-size: font-size(font-size-medium);
      }
    }

    &__heading--box {
      width: 100%;
      @include flexbox--space-betweem;

      gap: 1rem;
      padding: 0 1.2rem;
      margin-top: 3.2rem;

      div {
        @include flexbox--center--all;

        gap: 1rem;

        .circle {
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          background-color: var(--main-color);
        }

        h1 {
          font-size: font-size(font-size-regular);
        }
      }

      .section--dashboard__content--box__subscriptions--add {
        cursor: pointer;
        font-size: font-size(font-size-small);
        color: var(--main-color);
        i {
          margin-right: 0.5rem;
        }
      }
    }

    &__subscriptions {
      margin: 3.2rem 0;
      width: 100%;
      height: auto;

      gap: 1rem;
      @include flexbox--center--all;

      position: relative;

      &__subscription--box {
        height: auto;
        width: auto;
        padding: 1.2rem 2.4rem;
        gap: 1rem;
        border-radius: 11px;
        @include flexbox--center--all;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        .img--sub {
          height: auto;
          width: 6rem;
        }

        div {
          @include flexbox--center--all;
          @include flexbox--collumn;

          h3,
          span {
            font-size: font-size(font-size-small);
          }

          span {
            color: var(--gray-color);
          }
        }
      }
    }

    &__cards--box {
      @include flexbox--center--all;

      padding: 1.2rem 2.4rem;
      width: 100%;
      height: auto;
      border-radius: 11px;
      position: relative;

      &--card {
        height: auto;
        width: 30rem;
        position: relative;

        .delete--card {
          font-size: font-size(font-size-regular);
          color: var(--white-color);
          position: absolute;
          right: 3rem;
          top: 3rem;
          width: auto;
          cursor: pointer;
        }

        img {
          height: auto;
          width: 100%;
        }

        span {
          font-size: font-size(font-size-regular);
          color: var(--white-color);
          position: absolute;
          top: 3rem;
          left: 3rem;
        }
      }
    }

    &__transactions--box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      width: 100%;
      padding: 1.2rem 2.4rem;
      margin-top: 3.2rem;
      background-color: var(--background-color);
      border-radius: 11px;

      &--transactions {
        padding: 1.2rem 2.4rem;
        width: 100%;
        height: 100%;
        position: relative;
        @include flexbox--aling-flex__start__justify-space__between;

        h1 {
          font-size: font-size(font-size-medium);
          margin-bottom: 3.2rem;
        }

        &__spending--overview {
          @include flexbox--aling-center__justify-flex-start;
          @include flexbox--collumn;

          width: 100%;
          height: 100%;
          gap: 3rem;

          &__heading--box {
            width: 100%;
            @include flexbox--space-betweem;

            gap: 1rem;
            padding: 0 1.2rem;

            div {
              @include flexbox--center--all;

              gap: 1rem;

              .circle {
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 50%;
                background-color: var(--main-color);
              }

              h1 {
                font-size: font-size(font-size-regular);
              }
            }
          }
        }
      }

      &--money {
        width: 100%;
        height: 100%;
        @include flexbox--center--all;

        .chart-container {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.placeholder--text {
  font-size: font-size(font-size-regular);
}

dx-pie-chart {
  height: auto;
}

.card--deletion--btn i,
.card--not--deletion--btn i {
  font-size: font-size(font-size-regular);
  color: var(--white-color);
  position: absolute;
  right: 3rem;
  top: 6rem;
  width: auto;
  cursor: pointer;
}

.card--deletion--btn i {
  top: 6rem;
}

.card--not--deletion--btn i {
  top: 8rem;
}

.expense--list {
  @include flexbox--flex-start;
  gap: 1rem;
}

.img--sub {
  height: auto;
  width: 6rem;
}
