@use "../../style/sass/global-variables" as *;
.section--dashboard {
  // background-color: var(--background-color);
  background-color: var(--gray-color-lighter-modified);
  height: 100vh;
  width: 100vw;

  &__content--box {
    height: auto;
    width: 100%;
    padding: 1.2rem 2.4rem;

    &__heading--box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      h1 {
        font-size: font-size(font-size-medium);
      }

      .section--dashboard__content--box__subscriptions--add {
        cursor: pointer;
        font-size: font-size(font-size-small);
        background-color: var(--main-color);
        color: var(--white-color);
        padding: 0.5rem 1rem;
        border-radius: 9px;
      }
    }

    &__subscriptions {
      margin: 3.2rem 0;
      width: 100%;
      height: auto;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      position: relative;

      &__subscription--box {
        height: auto;
        width: auto;
        padding: 1.2rem 2.4rem;
        gap: 1rem;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color);

        img {
          height: auto;
          width: 6rem;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h3,
          span {
            font-size: font-size(font-size-small);
          }

          span {
            color: var(--gray-color);
          }
        }
      }
    }

    &__cards--box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3.2rem 0;
      padding: 1.2rem 2.4rem;
      width: 100%;
      height: auto;
      border-radius: 11px;
      background-color: var(--gray-color-lighter-modified);
      position: relative;

      &--card {
        background-color: var(--gray-color-lighter-modified);

        height: auto;
        width: 30rem;
        position: relative;

        img {
          height: auto;
          width: 100%;
        }

        span {
          font-size: font-size(font-size-regular);
          color: var(--white-color);
          position: absolute;
          top: 3rem;
          left: 3rem;
        }
      }
    }

    &__transactions--box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 45vh;
      width: 100%;
      padding: 1.2rem 2.4rem;
      margin-top: 3.2rem;
      background-color: var(--background-color);
      border-radius: 11px;

      &--transactions {
        padding: 1.2rem 2.4rem;
        width: 100%;
        height: 100%;
        position: relative;

        h1 {
          font-size: font-size(font-size-medium);
          margin-bottom: 3.2rem;
        }

        div {
          ul {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              img {
                height: auto;
                width: 6rem;
              }

              li {
                font-size: font-size(font-size-small);
              }
            }
          }
        }
      }

      &--money {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .chart-container {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
