<section class="section--dashboard">
  <div class="section--dashboard__navigation--box">
    <app-navigation></app-navigation>
  </div>
  <router-outlet></router-outlet>

  <div class="section--dashboard__content--box">
    <div class="section--dashboard__content--box__heading--box">
      <h1>Subscriptions</h1>
      <a class="section--dashboard__content--box__subscriptions--add"
        >Add subscription</a
      >
    </div>
    <div class="section--dashboard__content--box__subscriptions">
      <!-- 1 -->
      <div
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>Amazon prime</h3>
          <span>13EUR</span>
        </div>
      </div>
      <!-- 2 -->
      <div
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>Amazon prime</h3>
          <span>13EUR</span>
        </div>
      </div>
      <!-- 3 -->
      <div
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>Amazon prime</h3>
          <span>13EUR</span>
        </div>
      </div>
      <!-- 4 -->
      <div
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>Amazon prime</h3>
          <span>13EUR</span>
        </div>
      </div>
      <!-- 5 -->
      <div
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>Amazon prime</h3>
          <span>13EUR</span>
        </div>
      </div>
    </div>
    <div class="section--dashboard__content--box__heading--box">
      <h1>Accounts</h1>
      <a class="section--dashboard__content--box__subscriptions--add"
        >Add account</a
      >
    </div>
    <div class="section--dashboard__content--box__cards--box">
      <!-- 1 -->
      <div class="section--dashboard__content--box__cards--box--card">
        <img src="../../assets/img/visa_card Background Removed.png" alt="" />
        <span>3000EUR</span>
      </div>
      <!-- 2 -->
      <div class="section--dashboard__content--box__cards--box--card">
        <img src="../../assets/img/visa_card Background Removed.png" alt="" />
        <span>3000EUR</span>
      </div>
      <!-- 3 -->
      <div class="section--dashboard__content--box__cards--box--card">
        <img src="../../assets/img/visa_card Background Removed.png" alt="" />
        <span>3000EUR</span>
      </div>
    </div>
    <div class="section--dashboard__content--box__heading--box">
      <h1>Transactions</h1>
      <a class="section--dashboard__content--box__subscriptions--add"
        >Add transaction</a
      >
    </div>
    <div class="section--dashboard__content--box__transactions--box">
      <div
        class="section--dashboard__content--box__transactions--box--transactions"
      >
        <div>
          <ul>
            <div>
              <img src="../../assets/img/Amazon-logo.jpeg" alt="amazon logo" />
              <li>NAME</li>
              <li>TYPE</li>
              <li>TAG</li>
              <li>MONEY</li>
            </div>
            <div>
              <img src="../../assets/img/Amazon-logo.jpeg" alt="amazon logo" />
              <li>NAME</li>
              <li>TYPE</li>
              <li>TAG</li>
              <li>MONEY</li>
            </div>
            <div>
              <img src="../../assets/img/Amazon-logo.jpeg" alt="amazon logo" />
              <li>NAME</li>
              <li>TYPE</li>
              <li>TAG</li>
              <li>MONEY</li>
            </div>
            <div>
              <img src="../../assets/img/Amazon-logo.jpeg" alt="amazon logo" />
              <li>NAME</li>
              <li>TYPE</li>
              <li>TAG</li>
              <li>MONEY</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="section--dashboard__content--box__transactions--box--money">
        <div
          class="chart-container"
          style="
            position: relative;
            height: 30rem;
            width: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'doughnut'"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</section>
