<section class="section--dashboard">
  <div class="section--dashboard__navigation--box">
    <app-navigation></app-navigation>
  </div>
  <router-outlet></router-outlet>

  <div class="section--dashboard__content--box">
    <div class="section--dashboard__content--box__user--greating">
      <span class="section--dashboard__content--box__user--greating--hello"
        >👋 Hello, {{ username }}</span
      >
    </div>
    <div class="section--dashboard__content--box__heading--box">
      <div>
        <p class="circle"></p>
        <h1>Card overview</h1>
      </div>
      <a
        (click)="onUserNavigate($event)"
        class="section--dashboard__content--box__subscriptions--add"
        ><i class="dx-icon-add"></i>Add cards</a
      >
    </div>
    <div class="section--dashboard__content--box__cards--box">
      <!-- NEW -->
      <ng-container *ngIf="bankCardsArray.length < 1">
        <div class="placeholder--text">
          Add a card to track expenses and more!
        </div>
      </ng-container>
      <div
        class="section--dashboard__content--box__cards--box--card"
        *ngFor="let card of bankCardsArray"
        [attr.data-card-id]="card.ID"
      >
        <img src="../../assets/img/visa_card Background Removed.png" alt="" />
        <p
          [attr.data-card-id]="card.ID"
          (click)="onClickForDelete(card.ID)"
          class="delete--card"
        >
          {{ card.ID ? "X" : "" }}
        </p>

        <ng-container *ngIf="clickedOnDeleteButton && correctCard === card.ID">
          <p (click)="onCardClick($event)" class="card--deletion--btn">
            <i class="dx-icon-check"></i>
          </p>
          <p
            (click)="onClickForDelete($event)"
            class="card--not--deletion--btn"
          >
            <i class="dx-icon-close"></i>
          </p>
        </ng-container>

        <ng-container *ngIf="card.bankAccountName === 'Spending'">
          <span>{{ card.bankMoneyStatus }}</span>
        </ng-container>
        <ng-container *ngIf="card.bankAccountName === 'Saveings'">
          <span>{{ card.bankMoneyStatus }}</span>
        </ng-container>
      </div>
    </div>
    <div class="section--dashboard__content--box__heading--box">
      <div>
        <p class="circle"></p>
        <h1>Subscriptions</h1>
      </div>
      <a
        (click)="onUserNavigate($event)"
        class="section--dashboard__content--box__subscriptions--add"
        ><i class="dx-icon-add"></i>Add subscription</a
      >
    </div>
    <div class="section--dashboard__content--box__subscriptions">
      <!-- new -->
      <ng-container *ngIf="subscriptionArray.length < 1">
        <div class="placeholder--text">No current subscriptions!</div>
      </ng-container>
      <div
        *ngFor="let subscription of subscriptionArray"
        class="section--dashboard__content--box__subscriptions__subscription--box"
      >
        <img src="../../assets/img/Amazon-logo.jpeg" alt="Amazon logo" />
        <div>
          <h3>{{ subscription.companyName }}</h3>
          <span>{{ subscription.money }}EUR</span>
        </div>
      </div>
    </div>

    <!-- transactions -->
    <div class="section--dashboard__content--box__heading--box">
      <div>
        <p class="circle"></p>
        <h1>Recent Transactions</h1>
      </div>
      <a
        (click)="onUserNavigate($event)"
        class="section--dashboard__content--box__subscriptions--add"
        ><i class="dx-icon-add"></i>Add transaction</a
      >
    </div>

    <div class="section--dashboard__content--box__transactions--box">
      <div
        class="section--dashboard__content--box__transactions--box--transactions"
      >
        <div>
          <ng-container
            *ngIf="
              expenseData.length === 0 &&
              investingData.length === 0 &&
              savingsData.length === 0
            "
          >
            <div class="placeholder--text">
              No transaction history avalible!
            </div>
          </ng-container>
          <ul *ngFor="let expense of expenseData">
            <div>
              <img src="../../assets/img/netflix-logo.png" alt="amazon logo" />
              <li>{{ expense.companyName }}</li>
              <li>{{ expense.expenseType }}</li>
              <li>{{ expense.billStatus }}</li>
              <li>{{ expense.money }}</li>
            </div>
          </ul>

          <ul *ngFor="let investment of investingData">
            <div>
              <img src="../../assets/img/netflix-logo.png" alt="amazon logo" />
              <li>{{ investment.investingName }}</li>
              <li>{{ investment.investingAmountOfMoney }}</li>
              <li>{{ investment.typeOfInvesting }}</li>
              <li>{{ investment.account }}</li>
            </div>
          </ul>

          <ul *ngFor="let saveing of savingsData">
            <div>
              <img src="../../assets/img/netflix-logo.png" alt="amazon logo" />
              <li>{{ saveing.amountOfMoneySaved }}</li>
              <li>{{ saveing.account }}</li>
              <li>{{ saveing.typeOfSaveings }}</li>
            </div>
          </ul>
        </div>
      </div>
      <div
        class="section--dashboard__content--box__transactions--box--transactions__spending--overview"
      >
        <div
          class="section--dashboard__content--box__transactions--box--transactions__spending--overview__heading--box"
        >
          <div>
            <p class="circle"></p>
            <h1>Monthly Summary</h1>
          </div>
        </div>

        <div class="section--dashboard__content--box__transactions--box--money">
          <ng-container *ngIf="expenseData.length > 0">
            <dx-pie-chart
              id="pie"
              type="doughnut"
              palette="Soft Pastel"
              [dataSource]="overviewExpenses"
            >
              <dxi-series argumentField="typeOfExpense"></dxi-series>
            </dx-pie-chart>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
