<section class="section--dashboard">
  <div class="section--dashboard__navigation--box">
    <app-navigation></app-navigation>
  </div>
  <router-outlet></router-outlet>

  <div class="section--dashboard__content--box">
    <div class="section--dashboard__content--box__subscriptions">
      <a>Add subscription</a>
    </div>
    <div class="section--dashboard__content--box__cards--box">
      <div class="section--dashboard__content--box__cards--box--card">
        <a>Add card</a>
      </div>
    </div>
    <div class="section--dashboard__content--box__transactions--box">
      <div
        class="section--dashboard__content--box__transactions--box--transactions"
      >
        <h1>Transactions:</h1>
        <a>Add transaction</a>
        <div>
          <ul>
            <li>xxxxxx:xxxxxx date:xxxx</li>
            <li>xxxxxx:xxxxxx date:xxxx</li>
            <li>xxxxxx:xxxxxx date:xxxx</li>
            <li>xxxxxx:xxxxxx date:xxxx</li>
            <li>xxxxxx:xxxxxx date:xxxx</li>
            <li>xxxxxx:xxxxxx date:xxxx</li>
          </ul>
        </div>
      </div>
      <div class="section--dashboard__content--box__transactions--box--money">
        1000eur
        <span>Monthly +40eur</span>
      </div>
    </div>
  </div>
</section>
