@use "../../style/sass/global-variables" as *;
@use "../../style/sass/mixins" as *;

aside {
  position: absolute;
  height: 100vh;
  width: 5vw;
  z-index: 1000000;

  @include media-tablet-small {
    height: 5vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
  }
}

.section--navigation {
  height: 100%;
  overflow-x: hidden;
  width: auto;
  background-color: var(--background-color);
  position: relative;

  &__navigation--box {
    height: 100%;
    background-color: var(--gray-color-lighter);
    @include flexbox--center--all;
    @include flexbox--collumn;

    gap: 3rem;
    width: 100%;

    @include media-tablet-small {
      flex-direction: row;
    }

    a {
      i {
        font-size: font-size(font-size-medium);
        font-weight: font-weight(font-weight-light);
        color: var(--gray-color-darker);
        cursor: pointer;
        position: relative;
        padding: 0.5rem 1rem;
        transition: all 0.35s;
      }

      i:hover,
      i:visited {
        color: var(--main-color);
        border: none;
        border-radius: 2rem;
      }
    }
  }
}

.logout__box {
  position: relative;
}

.logout--prompt,
.logout--yes,
.logout--no {
  position: absolute;
  z-index: 2;
  left: -2rem;
}

.logout--yes {
  top: 1rem;

  @include media-tablet-small {
    left: 2rem;
    top: -11px;
  }

  @include media-bigger-small {
    left: -2.4rem;
    top: -2rem;
  }
}

.logout--no {
  top: 4rem;

  @include media-tablet-small {
    left: 4rem;
    top: -11px;
  }

  @include media-bigger-small {
    left: -0.4rem;
    top: -2rem;
  }
}

.logout--prompt {
  top: -2rem;
  font-size: 1.2rem;

  @include media-tablet-small {
    top: -6px;
  }
}
