<aside>
  <section class="section--navigation">
    <div class="section--navigation__navigation--box">
      <a routerLink="/dashboard"><i class="dx-icon-home"></i></a>
      <a routerLink="/investing"><i class="dx-icon-chart"></i></a>
      <a routerLink="/expense"><i class="dx-icon-cart"></i></a>
      <a routerLink="/savings"><i class="dx-icon-money"></i></a>
      <a #logoutLink (click)="userNavigate(logoutLink)"
        ><i class="dx-icon-runner"></i
      ></a>
      <div class="logout__box">
        <ng-container *ngIf="clickedOnLogout">
          <p class="logout--prompt">Logout?</p>
          <a class="logout--yes" #logoutLink (click)="userNavigate(logoutLink)"
            ><i id="yes__icon" class="dx-icon-check"></i
          ></a>
          <a
            class="logout--no"
            #logoutLinkNo
            (click)="userNavigate(logoutLinkNo)"
            ><i id="no__icon" class="dx-icon-close"></i
          ></a>
        </ng-container>
      </div>
    </div>
  </section>
</aside>
