@use "../../style/sass/global-variables" as *;

.section--navigation {
  overflow-x: hidden;
  width: auto;
  background-color: var(--background-color);

  &__navigation--box {
    height: 5rem;
    background-color: var(--gray-color-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    a {
      font-size: font-size(font-size-regular);
      font-weight: font-weight(font-weight-light);
      color: var(--gray-color-darker);
      cursor: pointer;
      position: relative;
      padding: 0.5rem 1rem;
      transition: all 0.35s;
    }

    a:hover,
    a:visited {
      background-color: var(--main-color);
      color: var(--white-color);
      border: none;
      border-radius: 2rem;
    }
  }
}
