<app-navigation></app-navigation>
<!-- TODO: -->
<section class="section--saveings">
  <a class="section--saveings--add" (click)="userNavigationForm()"
    >Add saveings</a
  >
  <div class="section--saveings__content--box">
    <div class="section--saveings__content--box__accounts--overview">
      <!-- account 1 -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Account balance</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ accountBalance === 0 ? 0 : accountBalance }}EUR</span
        >
        <a
          class="section--saveings__content--box__accounts--overview__account--box--link"
          >View accounts</a
        >
      </div>
      <!-- account 2 -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Saveings</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ totalMoneySaved === 0 ? 0 : totalMoneySaved }}EUR</span
        >
        <a
          class="section--saveings__content--box__accounts--overview__account--box--link"
          >View investing</a
        >
      </div>

      <!-- overall -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Total balance</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ totalAccountMoney === 0 ? 0 : totalAccountMoney }}EUR</span
        >
        <a
          class="section--saveings__content--box__accounts--overview__account--box--link"
          >View overall</a
        >
      </div>
    </div>
    <div class="section--saveings__content--box__adding--money">
      <dx-data-grid
        [repaintChangesOnly]="true"
        (onCellPrepared)="cellStyle($event)"
        [showBorders]="true"
        [dataSource]="saveingsFormDataArray"
        [columns]="columns"
      >
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [displayMode]="displayMode"
          [showPageSizeSelector]="showPageSizeSelector"
          [showInfo]="showInfo"
          [showNavigationButtons]="showNavButtons"
        >
        </dxo-pager>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="dateOfSaveings"
          dataType="datetime"
          format="M/d/yyyy, HH:mm"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="amountOfMoneySaved"
          format="currency"
          [editorOptions]="{ format: 'currency', showClearButton: true }"
        ></dxi-column>
        <dxi-column aligment="left" [width]="200" dataField="Name"></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="account"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="typeOfSaveings"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</section>

<!-- TODO: -->
<router-outlet></router-outlet>
