<section class="section--saveings">
  <div class="section--saveings__navigation--box">
    <app-navigation></app-navigation>
  </div>
  <div class="section--saveings__content--box">
    <div class="section--saveings__content--box__heading--box">
      <h1>Savings overview</h1>
    </div>
    <div class="section--saveings__content--box__accounts--overview">
      <!-- account 1 -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Account balance</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ accountBalance === 0 ? 0 : accountBalance }}EUR</span
        >
      </div>
      <!-- account 2 -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Savings</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ totalMoneySaved === 0 ? 0 : totalMoneySaved }}EUR</span
        >
      </div>

      <!-- overall -->
      <div
        class="section--saveings__content--box__accounts--overview__account--box"
      >
        <div
          class="section--saveings__content--box__accounts--overview__account--box__icon--box"
        >
          <i class="dx-icon-user"></i>
        </div>
        <h1>Total balance</h1>
        <span
          class="section--saveings__content--box__accounts--overview__account--box--money"
          >{{ totalAccountMoney === 0 ? 0 : totalAccountMoney }}EUR</span
        >
      </div>
    </div>

    <div class="section--saveings__content--box__heading--box">
      <h1>Savings table</h1>
      <a
        class="section--saveings__content--box__heading--box--add"
        (click)="userNavigationForm()"
        ><i class="dx-icon-add"></i>Add savings</a
      >
    </div>
    <div class="section--saveings__content--box__adding--money">
      <dx-data-grid
        [repaintChangesOnly]="true"
        [showBorders]="true"
        [dataSource]="saveingsFormDataArray"
        [columns]="columns"
      >
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [displayMode]="displayMode"
          [showPageSizeSelector]="showPageSizeSelector"
          [showInfo]="showInfo"
          [showNavigationButtons]="showNavButtons"
        >
        </dxo-pager>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="date"
          dataType="datetime"
          format="M/d/yyyy, HH:mm"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="money"
          format="currency"
          [editorOptions]="{ format: 'currency', showClearButton: true }"
        ></dxi-column>
        <dxi-column aligment="left" [width]="200" dataField="ID"></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="account"
        ></dxi-column>
        <dxi-column
          alignment="left"
          [width]="200"
          dataField="typeOfSavings"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
