<section class="section--investing">
  <div class="ection--investing__navigation--box">
    <app-navigation></app-navigation>
  </div>
  <div class="section--investing__investing--box">
    <div class="section--investing__investing--box__investings--overview">
      <div
        class="section--investing__investing--box__investings--overview__money--box"
      >
        <div
          class="section--investing__investing--box__investings--overview__money--box__money--overall"
        >
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__full--money"
          >
            <span class="balance">Balance</span>
            <span
              (click)="hideInvestingBalance($event)"
              #hideBalance
              class="hide--balance"
              >Hide balance</span
            >
            &euro;{{ !hideMoneyBalance ? investingTotalAmount : "***" }}
          </span>
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__percante"
          >
            {{ !hideMoneyBalance ? moneyRelativeIncrese : "***" }}%</span
          >
          <a (click)="toggleViewOfChart()" class="porfolio--btn"
            >View portfolio</a
          >
        </div>
        <div
          class="section--investing__investing--box__investings--overview__money--box__chart--box"
        >
          <ng-container *ngIf="!toggleChartView">
            <dx-chart
              id="chart"
              palette="Harmony Light"
              [dataSource]="investingAmount"
            >
              <dxi-series valueField="investedAmount"></dxi-series>
              <dxo-argument-axis
                [valueMarginsEnabled]="false"
              ></dxo-argument-axis>
              <dxo-common-series-settings
                #commonSeries
                argumentField="investedDate"
                [type]="types[0]"
              ></dxo-common-series-settings>
            </dx-chart>
          </ng-container>
          <ng-container *ngIf="toggleChartView">
            <!-- .... -->
            <div
              class="section--investing__investing--box__investings--overview__money--box__chart--box__crypto--box"
            >
              <div
                class="crypto--coin"
                *ngFor="let coin of coinPriceArray; let i = index"
              >
                <img src="{{ coin.image }}" alt="" />
                <h4>{{ coin.name }}</h4>
                <span>Current price: {{ coin.current_price }}EUR</span>
                <span
                  >Total amount invested:
                  {{ totalAmountInvestedPerCoin[i].totalAmount }} EUR
                </span>
                <dx-button
                  (onClick)="showAdditionalInfo(coin.id)"
                  text="Additional info"
                ></dx-button>
                <dx-popup
                  [width]="300"
                  [height]="280"
                  [showTitle]="true"
                  [hideOnOutsideClick]="true"
                  [(visible)]="popupVisible"
                  title="Additional information"
                  ><dxi-toolbar-item
                    widget="dxButton"
                    toolbar="bottom"
                    location="after"
                    [options]="closeButtonOptions"
                  >
                  </dxi-toolbar-item>
                  <p class="popup-text">Market cap: {{ coin.market_cap }}</p>
                  <p class="popup-text">Max supply: {{ coin.max_supply }}</p>
                  <p class="popup-text">
                    Circulating supply: {{ coin.circulating_supply }}
                  </p>
                  <p class="popup-text">ATH: {{ coin.ath }}</p>
                </dx-popup>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="section--investing__investing--box__investings">
      <div class="section--investing__investing--box__investings__heading--box">
        <h1>Investing view</h1>
        <a (click)="userFormNavigate()"
          ><i class="dx-icon-add"></i>Add investment</a
        >
      </div>
      <div
        class="section--investing__investing--box__investings__investing--list"
      >
        <dx-data-grid
          width="100%"
          [dataSource]="investingDataArray"
          [showBorders]="true"
        >
          <dxo-paging [pageSize]="10"> </dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
          >
          </dxo-pager>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="date"></dxi-column>
          <dxi-column dataField="coins"></dxi-column>
          <dxi-column dataField="typeOfInvesting"></dxi-column>
          <dxi-column format="currency" dataField="money"></dxi-column>
          <dxo-summary>
            <dxi-total-item
              column="money"
              summaryType="sum"
              valueFormat="currency"
            >
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
