<app-navigation></app-navigation>
<section class="section--investing">
  <div class="section--investing__investing--box">
    <div class="section--investing__investing--box__investings">
      <div class="section--investing__investing--box__investings__heading--box">
        <h1>Investing view</h1>
        <a>Add investment</a>
      </div>
      <div
        class="section--investing__investing--box__investings__investing--list"
      >
        <ul>
          <div>
            <img src="../../../assets/img/netflix-logo.png" alt="Netflix" />
            <li>NAME</li>
            <li>DATE</li>
            <li>AMOUNT</li>
          </div>
          <div>
            <img src="../../../assets/img/netflix-logo.png" alt="Netflix" />
            <li>NAME</li>
            <li>DATE</li>
            <li>AMOUNT</li>
          </div>
          <div>
            <img src="../../../assets/img/netflix-logo.png" alt="Netflix" />
            <li>NAME</li>
            <li>DATE</li>
            <li>AMOUNT</li>
          </div>
          <div>
            <img src="../../../assets/img/netflix-logo.png" alt="Netflix" />
            <li>NAME</li>
            <li>DATE</li>
            <li>AMOUNT</li>
          </div>
          <div>
            <img src="../../../assets/img/netflix-logo.png" alt="Netflix" />
            <li>NAME</li>
            <li>DATE</li>
            <li>AMOUNT</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="section--investing__investing--box__investings--overview">
      <div
        class="section--investing__investing--box__investings--overview__money--box"
      >
        <div
          class="section--investing__investing--box__investings--overview__money--box__money--overall"
        >
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__full--money"
            ><span>Balance</span>&euro;4000,00</span
          >
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__percante"
            >4% 40 EUR</span
          >
          <a class="porfolio--btn">View portfolio</a>
        </div>
        <div
          class="section--investing__investing--box__investings--overview__money--box__chart--box"
        >
          <dx-chart [dataSource]="moneyInfo"
            ><dxi-series
              *ngFor="let energy of energySources"
              [valueField]="energy.value"
              [name]="energy.name"
            >
            </dxi-series
            ><dxo-common-series-settings
              #seriesSettings
              argumentField="portfolio"
            >
            </dxo-common-series-settings>
            <dxo-margin [bottom]="20"></dxo-margin>
            <dxo-argument-axis
              [valueMarginsEnabled]="false"
              discreteAxisDivisionMode="crossLabels"
            >
            </dxo-argument-axis>
            ></dx-chart
          >
        </div>
      </div>
      <div
        class="section--investing__investing--box__investings--overview__portfolio--box"
      ></div>
    </div>
  </div>
</section>
