<app-navigation></app-navigation>
<section class="section--investing">
  <div class="section--investing__investing--box">
    <div class="section--investing__investing--box__investings">
      <div class="section--investing__investing--box__investings__heading--box">
        <h1>Investing view</h1>
        <a (click)="userFormNavigate()">Add investment</a>
      </div>
      <div
        class="section--investing__investing--box__investings__investing--list"
      >
        <dx-list
          [dataSource]="investingDataArray"
          [searchEnabled]="true"
          searchExpr="Name"
          searchMode="contains"
        >
          <div *dxTemplate="let investment of 'item'">
            <div class="investing--list">
              <div>{{ investment.investingDate }}</div>
              <div>{{ investment.investingName }}</div>
              <div>{{ investment.investingAmountOfMoney }}</div>
              <div>{{ investment.typeOfInvesting }}</div>
              <div>{{ investment.account }}</div>
            </div>
          </div></dx-list
        >
      </div>
    </div>
    <div class="section--investing__investing--box__investings--overview">
      <div
        class="section--investing__investing--box__investings--overview__money--box"
      >
        <div
          class="section--investing__investing--box__investings--overview__money--box__money--overall"
        >
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__full--money"
            ><span>Balance</span>&euro;{{ investingTotalAmount }}</span
          >
          <span
            class="section--investing__investing--box__investings--overview__money--box__money--overall__percante"
            >4% 40 EUR</span
          >
          <a class="porfolio--btn">View portfolio</a>
        </div>
        <div
          class="section--investing__investing--box__investings--overview__money--box__chart--box"
        >
          <dx-chart [dataSource]="investingAmount"
            ><dxi-series
              *ngFor="let energy of energySources"
              [valueField]="energy.value"
              [name]="energy.name"
            >
            </dxi-series
            ><dxo-common-series-settings
              #seriesSettings
              argumentField="investedDate"
            >
            </dxo-common-series-settings>
            <dxo-margin [bottom]="20"></dxo-margin>
            <dxo-argument-axis
              [valueMarginsEnabled]="false"
              discreteAxisDivisionMode="crossLabels"
            >
            </dxo-argument-axis>
            ></dx-chart
          >
        </div>
      </div>
      <div
        class="section--investing__investing--box__investings--overview__portfolio--box"
      ></div>
    </div>
  </div>
</section>
<!-- TODO: -->
<router-outlet></router-outlet>
