<section class="section--expense">
  <div>
    <form #form="ngForm" (submit)="onSubmitForm()">
      <div (click)="onUserCloseForm()">
        <i class="dx-icon-close"></i>
      </div>
      <dx-form width="100%" labelLocation="top" [formData]="expenseData">
        <dxi-item itemType="group" caption="Track your expanse" [colCount]="2">
          <dxi-item
            editorType="dxSelectBox"
            [editorOptions]="positionEditorOptionsExpense"
            dataField="expenseType"
          >
            <dxi-validation-rule
              type="required"
              message="Expense is required"
            ></dxi-validation-rule>
            <dxo-label template="Expense"></dxo-label
          ></dxi-item>
          <dxi-item dataField="date"></dxi-item>

          <dxi-item dataField="companyName"></dxi-item>
          <dxi-item
            dataField="account"
            editorType="dxSelectBox"
            [editorOptions]="positionEditorOptions"
          >
            <dxi-validation-rule
              type="required"
              message="Account is required"
            ></dxi-validation-rule>
            <dxo-label template="Accounts"></dxo-label
          ></dxi-item>

          <dxi-item
            editorType="dxSelectBox"
            dataField="billStatus"
            [editorOptions]="positionEditorOptionsStatus"
          >
            <dxi-validation-rule
              type="required"
              message="Status is required"
            ></dxi-validation-rule>
            <dxo-label template="Status"></dxo-label
          ></dxi-item>
          <dxi-item dataField="money"></dxi-item>
          <dxi-item
            [colSpan]="2"
            itemType="button"
            [buttonOptions]="submitButtonOptions"
          ></dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</section>

<dx-toast
  [visible]="isVisibleToast"
  [type]="type"
  [message]="message"
></dx-toast>
